<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="damianlukasik_whatsupinlublin_sample_listing_data_source" xsi:type="string">Damianlukasik\Whatsupinlublin\Model\ResourceModel\Sample\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Damianlukasik\Whatsupinlublin\Model\ResourceModel\Sample\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">damianlukasik_whatsupinlublin_sample</argument>
            <argument name="resourceModel" xsi:type="string">Damianlukasik\Whatsupinlublin\Model\ResourceModel\Sample</argument>
        </arguments>
    </virtualType>
</config>