<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="whatsupinlublin" id="whatsupinlublin">
            <module name="Damianlukasik_Whatsupinlublin"/>
        </route>
    </router>
</config>